DISCORD_TOKEN=your_discord_token_here
DISCORD_CLIENT_ID=your_discord_application_id_here
GUILD_ID=your_discord_guild_id_here

RCON_PASSWORD=your_rcon_password_here
MINECRAFT_PASSWORD=your_minecraft_password_here
MINECRAFT2_PASSWORD=your_minecraft2_password_here
VALHEIM_PASSWORD=your_valheim_password_here
FACTORIO_PASSWORD=your_factorio_password_here

MINECRAFT_PORT=
MINECRAFT2_PORT=
VALHEIM_PORT=
FACTORIO_PORT=
MINECRAFT_RCON_PORT=
MINECRAFT2_RCON_PORT=

MINECRAFT_SERVER_PATH=C:\path\to\minecraft
MINECRAFT2_SERVER_PATH=C:\path\to\minecraft2
VALHEIM_SERVER_PATH=C:\path\to\valheim\server
TEKKIT_SERVER_PATH=C:\path\to\tekkit
FACTORIO_SERVER_EXE=C:\path\to\factorio.exe
FACTORIO_SERVER_SAVE=C:\path\to\save.zip
FACTORIO_SERVER_CWD=C:\path\to\factorio
